:global(body) {
    background-color: eggshell;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    color: green;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: solid royalblue 1px;
    border-bottom: solid royalblue 1px;
    font-size: small;
}

.info {
    height: 350px;
    font-size: large;
    display: flex;
    padding: 200px;
    justify-content: space-evenly;
    align-items: center;
    color: green;
    flex-basis: 30%;
    border: 1px solid royalblue;
}

/* #content {
    background-image: ;
} */

.linkedin {
    color: inherit;
    transition: color 160ms ease;
}

.linkedin:hover {
    color: lightcoral;
}