:global(body) {
    background-color: eggshell;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;

}

.header {
    color: green;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-size: small;
}

.content {
    background-size: cover;
    background-position: center;
}

.info {
    background-image: url('/src/components/media/pexels-eva-bronzini-7965294\ \(1\).jpg');
    height: 80vh;
    font-size: large;
    display: flex;
    padding: 200px;
    justify-content: space-evenly;
    align-items: center;
    color: green;
    flex-basis: 5%;

}


.linkedin {
    color: inherit;
    transition: color 160ms ease;
}

.linkedin:hover {
    color: lightcoral;
}