/* html,
body {
    background-color: olive;
    height: 100%;
    margin: 0%;
    padding: 0%;

} */

.Contact {
    background-color: rgb(92, 112, 80);
    height: 100%;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100;
    padding: 20px;
    box-sizing: border-box;

}

.linkedIn {
    flex-basis: 30%;
    text-align: center;
    color: white;
}

.email {
    flex-basis: 30%;
    text-align: center;
    color: white;
}

.phone {
    flex-basis: 30%;
    text-align: center;
    color: white;
}