:global body {
    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header {
    color: red;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: dotted gray 1px;
    border-bottom: dotted gray 1px;
    font-size: small;
}

.info {
    height: 350px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
    flex-basis: 30%;
    border: 1px dashed magenta;
}